#notifCocinero{
	display:none; 
	box-shadow: 0px 0px 50px rgba(0,0,0,0.5);
	/* height: 41%; */
	overflow: hidden;
	top: 0px;
	position: fixed;
	z-index: 5;
	/* border-bottom: 3px solid rgb(20,20,20,0.5); */
	background: lightgray;
	left: 0px;
	background-image: url(../media/Img/fondo-add-user.png);
	/* background-size: cover; */
}

.cabezeraPedidosPendientes{
	background: #1B5F20;
	color: white;
	border-bottom: 2px solid darkgray;border-top: 3px solid #144618;margin-bottom: 5px;box-shadow: 0px 3px 10px rgba(0,0,0,0.5);}
header{
	top:0px;
	width:100%;
	text-align:center;
	left:0px;
	background-color: #fed322;
    padding: 8px 15px;
    box-shadow: 0px 0px 1px 1px #eea002;
    position: fixed;
    z-index: 5;
	position:fixed;
	z-index:8988848484;
}

#containerPendientes{
	margin-top: 86.5%;
	left: 0px;
	top:200px;
	margin-bottom: 50%;
	display: block;
}
*{
	box-sizing:border-box;
}

.nombreProd{
	padding-left: 0px;
	text-align:left;
}

#selectTiempoEstimado{
	width: 100%;

}